<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="JiaoWuEntities" connectionString="metadata=res://*/JiaoWu.csdl|res://*/JiaoWu.ssdl|res://*/JiaoWu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.43.126.50,4134;initial catalog=NHU_JWDB;user id=SYXK;password=SYK20090225V;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JingPinKeChengEntities" connectionString="metadata=res://*/JingPinKeCheng.csdl|res://*/JingPinKeCheng.ssdl|res://*/JingPinKeCheng.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=210.43.126.37;user id=public;password=Public;database=scr2008&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="JingPinKeChengEntities" connectionString="Datasource=210.43.126.37;Database=scr2008;uid=public;pwd=Public;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>