<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="JiaoWuEntities" connectionString="metadata=res://*/JiaoWu.csdl|res://*/JiaoWu.ssdl|res://*/JiaoWu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.43.126.50,4134;initial catalog=NHU_JWDB;user id=SYXK;password=SYK20090225V;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JingPinKeChengEntities" connectionString="metadata=res://*/JingPinKeCheng.csdl|res://*/JingPinKeCheng.ssdl|res://*/JingPinKeCheng.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=210.43.126.37;user id=public;password=Public;database=scr2008&quot;" providerName="System.Data.EntityClient" />-->
    <add name="JiaoWuEntities" connectionString="data source=210.43.126.50,4134;initial catalog=NHU_JWDB;user id=SYXK;password=SYK20090225V;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="JingPinKeChengEntities" connectionString="Data Source=210.43.126.37;user id=public;password=Public;Initial Catalog=scr2008;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.9.3.0" newVersion="6.9.3.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
