<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="JiaoWuEntities" connectionString="metadata=res://*/JiaoWu.csdl|res://*/JiaoWu.ssdl|res://*/JiaoWu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=0.0.0.0,4134;initial catalog=NHU_JWDB;user id=SYXK;password=SYK20090225V;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JingPinKeChengEntities" connectionString="metadata=res://*/JingPinKeCheng.csdl|res://*/JingPinKeCheng.ssdl|res://*/JingPinKeCheng.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=1.1.1.1;user id=public;password=Public;database=scr2008&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
